html {
    background: url(https://www.spacex.com/static/images/ixpe/post/MOBILE_IXPE_post-launch_homepage.webp) no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

nav {
    z-index: 2;
    overflow: hidden;
    background-color: transparent;
    border: none;
    color: white;
    background:none;
}

.container {
    position: absolute;
    margin: 20px;
}

.navbar-nav {
    margin-left: 30px;
    font-size: 13px;
}

.h {
    color: white;
    background-color: transparent;
    background: none;
    position: absolute;
    margin-top: 70em;
}